@font-face {
  font-family: G-Lato-n7;
  src: url('../data/fonts.gstatic.com_s_lato_v14_S6u9w4BMUTPHh6UVew8.ttf');
}
@font-face {
  font-family: G-Lato-n4;
  src: url('../data/fonts.gstatic.com_s_lato_v14_S6uyw4BMUTPHvxk.ttf');
}
@font-face {
  font-family: G-Lato-n3;
  src: url('../data/fonts.gstatic.com_s_lato_v14_S6u9w4BMUTPHh7USew8.ttf');
}
@font-face {
  font-family: "G-Open Sans-n6";
  src: url('../data/fonts.gstatic.com_s_opensans_v15_mem5YaGs126MiZpBA-UNirk-VQ.ttf');
}
@font-face {
  font-family: "G-Open Sans-n4";
  src: url('../data/fonts.gstatic.com_s_opensans_v15_mem8YaGs126MiZpBA-U1Ug.ttf');
}
@font-face {
  font-family: G-Montserrat-n4;
  src: url('../data/fonts.gstatic.com_s_montserrat_v12_JTUSjIg1_i6t8kCHKm45xW4.ttf');
}
@font-face {
  font-family: G-Montserrat-n6;
  src: url('../data/fonts.gstatic.com_s_montserrat_v12_JTURjIg1_i6t8kCHKm45_bZF7g4.ttf');
}
@font-face {
  font-family: G-Montserrat-n7;
  src: url('../data/fonts.gstatic.com_s_montserrat_v12_JTURjIg1_i6t8kCHKm45_dJE7g4.ttf');
}
@font-face {
  font-family: G-Nunito-n6;
  src: url('../data/fonts.gstatic.com_s_nunito_v9_XRXW3I6Li01BKofA6sKkZg.ttf');
}
@font-face {
  font-family: G-Montserrat-n5;
  src: url('../data/fonts.gstatic.com_s_montserrat_v12_JTURjIg1_i6t8kCHKm45_ZpC7g4.ttf');
}
@font-face {
  font-family: G-Nunito-n4;
  src: url('../data/fonts.gstatic.com_s_nunito_v9_XRXV3I6Li01BKof4Mg.ttf');
}
@font-face {
  font-family: G-Abel-n4;
  src: url('../data/fonts.gstatic.com_s_abel_v8_MwQ5bhbm2POE6Vg.ttf');
}
@font-face {
  font-family: G-Nunito-n7;
  src: url('../data/fonts.gstatic.com_s_nunito_v9_XRXW3I6Li01BKofAjsOkZg.ttf');
}
@font-face {
  font-family: "G-Open Sans-n7";
  src: url('../data/fonts.gstatic.com_s_opensans_v15_mem5YaGs126MiZpBA-UN7rg-VQ.ttf');
}
@font-face {
  font-family: "G-Open Sans-n3";
  src: url('../data/fonts.gstatic.com_s_opensans_v15_mem5YaGs126MiZpBA-UN_r8-VQ.ttf');
}
@font-face {
  font-family: G-Montserrat-n3;
  src: url('../data/fonts.gstatic.com_s_montserrat_v12_JTURjIg1_i6t8kCHKm45_cJD7g4.ttf');
}