@font-face {
  font-family: G-Lato-n7;
  src: url('../data/fonts.gstatic.com_s_lato_v14_iX_QxBBZLhNj5JHlTzHQzg.ttf');
}
@font-face {
  font-family: G-Lato-n4;
  src: url('../data/fonts.gstatic.com_s_lato_v14_h7rISIcQapZBpei-sXwIwg.ttf');
}
@font-face {
  font-family: G-Lato-n3;
  src: url('../data/fonts.gstatic.com_s_lato_v14_Ja02qOppOVq9jeRjWekbHg.ttf');
}
@font-face {
  font-family: "G-Open Sans-n6";
  src: url('../data/fonts.gstatic.com_s_opensans_v15_MTP_ySUJH_bn48VBG8sNSi3USBnSvpkopQaUR-2r7iU.ttf');
}
@font-face {
  font-family: "G-Open Sans-n4";
  src: url('../data/fonts.gstatic.com_s_opensans_v15_IgZJs4-7SA1XX_edsoXWog.ttf');
}
@font-face {
  font-family: G-Montserrat-n4;
  src: url('../data/fonts.gstatic.com_s_montserrat_v12_Kqy6-utIpx_30Xzecmeo8_esZW2xOQ-xsNqO47m55DA.ttf');
}
@font-face {
  font-family: G-Montserrat-n6;
  src: url('../data/fonts.gstatic.com_s_montserrat_v12_q2OIMsAtXEkOulLQVdSl0_pTEJqju4Hz1txDWij77d4.ttf');
}
@font-face {
  font-family: G-Montserrat-n7;
  src: url('../data/fonts.gstatic.com_s_montserrat_v12_IQHow_FEYlDC4Gzy_m8fcgJKKGfqHaYFsRG-T3ceEVo.ttf');
}
@font-face {
  font-family: G-Nunito-n6;
  src: url('../data/fonts.gstatic.com_s_nunito_v9_B4-BGlpEzQ4WP-D3Zi0PRQ.ttf');
}
@font-face {
  font-family: G-Montserrat-n5;
  src: url('../data/fonts.gstatic.com_s_montserrat_v12_BYPM-GE291ZjIXBWrtCwepp-63r6doWhTEbsfBIRJ7A.ttf');
}
@font-face {
  font-family: G-Nunito-n4;
  src: url('../data/fonts.gstatic.com_s_nunito_v9_ySZTeT3IuzJj0GK6uGpbBg.ttf');
}
@font-face {
  font-family: G-Abel-n4;
  src: url('../data/fonts.gstatic.com_s_abel_v8_RpUKfqNxoyNe_ka23bzQ2A.ttf');
}
@font-face {
  font-family: G-Nunito-n7;
  src: url('../data/fonts.gstatic.com_s_nunito_v9_aEdlqgMuYbpe4U3TnqOQMA.ttf');
}